<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container">
    <div class="form-box">
        <h2>Admin Login</h2>
        <form method="POST">
            <input name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button>Login</button>
        </form>
    </div>
</div>
    <footer style="margin-top:40px; padding:15px; text-align:center; background:#111; color:#fff;">
    <p>If you have any questions, suggestions, or need support regarding our Grocery Management System, feel free to contact us.</p>
    <p>Email: dnyaneshwarbiramanell@gmail.com</p>
    <p>Phone: +91 81089 32793</p>
    <p>Address: Panchgani</p>
</footer>

</body>
</html>
