<!DOCTYPE html>
<html>
<head>
    <title>Cart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
    <div class="form-box">
        <h2>Your Cart</h2>

        {% for i in cart %}
            <p>{{ i.name }} - ₹{{ i.price }}</p>
        {% endfor %}

        <h3>Total: ₹{{ total }}</h3>

        <form method="POST" action="/place-order">
            <label><input type="radio" name="payment" value="Online" required> Online Payment</label><br>
            <label><input type="radio" name="payment" value="COD"> Cash on Delivery</label><br><br>
            <button>Place Order</button>
        </form>
    </div>
</div>
</body>
</html>
