<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="navbar">
    <b>🛒 Shivam Super Market</b>
    <div>
        <a href="/cart">Cart</a>
        <a href="/logout">Logout</a>
    </div>
</div>

<div class="container">
    <div class="products">
        {% for p in products %}
        <div class="card">
            <img src="{{ p.image }}" alt="">
            <h4>{{ p.name }}</h4>
            <p>₹{{ p.price }}</p>
            <form method="POST" action="/add-to-cart/{{ p.id }}">
                <button>Add to Cart</button>
            </form>
        </div>
        {% endfor %}
    </div>
</div>
    <footer style="margin-top:40px; padding:15px; text-align:center; background:#111; color:#fff;">
    <p>© 2026 Shivam Super Market</p>
    <p>📞 1234567890 | ✉️ shivamsupermarket@gmail.com</p>
  </footer>
</body>
</html>
