<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container">
    <div class="form-box">
        <h2>Create Account</h2>
        <form method="POST">
            <input name="name" placeholder="Name" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button>Register</button>
        </form>
    </div>
</div>
    <footer style="margin-top:40px; padding:15px; text-align:center; background:#111; color:#fff;">
    <p>© 2026 Shivam Super Market</p>
    <p>📞 1234567890 | ✉️ shivamsupermarket@gmail.com</p>
  </footer>
</body>
</html>
